<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Component</title>
  <link rel="stylesheet" type="text/css" href="app.component.scss">
</head>
<body>
  <header>
    <nav class="navbar">
      <h1>Cycle Shop</h1>
      <ul class="nav-list">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/cycles">🚲</a></li>
        <li><a routerLink="/cart">🛒</a></li> <!-- Cart emoji here -->
        <li><a routerLink="/AddCyclesComponent">Add a cycle</a></li>
      </ul>
    </nav>
  </header>

  <router-outlet></router-outlet>
</body>
</html>
